run/mid_*
run/out_log
run/llm_response
data
escape
output
icews_yago_gpt_4_turbo-5

idx_prompt_dict_step_00.json
idx_prompt_dict_step_00_format.json
idx_prompt_dict_step_01.json
idx_prompt_dict_step_02.json
idx_prompt_dict_step_03.json
idx_prompt_dict_step_04.json
final_answer_01.json
final_answer_02.json
final_answer_03.json
final_answer_04.json

big_batches_API_call.zip
big_batches_API_call 2.zip
big_batches_API_call